.color-list
  width 150px
  height 130px
  margin 0 auto
  margin-top 2px
  li
    width 38px
    height 30px
    border-radius:4px 4px 3px 3px
    margin 5px 6px
    float left
  .active-color
    border 2.5px solid 	#F5F5F5
    box-sizing border-box

