.revise-pass
  width 100%
  height 100%
  .content
    min-height 380px
    background-size cover
    form
      width 80%
      height 200px
      margin 30px auto
      .form-item
        width 100%
        height 42px
        margin 4px auto
        line-height 30px
        input
          display block
          padding-left 10px
          border-radius 5px
          box-sizing border-box
          width 100%
          height 38px
          border 1px solid #ccc
          outline none
        button
          width 100%
          height 38px
          margin-top 8px
          border 1px solid rgb(38,164,222)
          border-radius 5px
          background rgb(38,164,222)
          color #fff
          font-size 18px
          outline none
