.forget-pass
  width 100%
  height 100%
  .send-before
    min-height 380px
    background-size cover
    form
      width 80%
      height 200px
      margin 40px auto
      .form-item
        width 100%
        height 42px
        margin 2px auto
        line-height 30px
        input
          box-sizing border-box
          width 100%
          height 40px
          border 1px solid #ddd
          border-radius 5px
          padding 10px
          outline none
        button
          width 100%
          height 40px
          font-size 18px
          margin-top 16px
          border 1px solid rgb(38,164,222)
          border-radius 5px
          background rgb(38,164,222)
          color #fff
          outline none


