.login-page
  padding-bottom 25%
  position absolute
  font-size 14px
  width 100%
  margin 0 auto
  img
    width 80px
    height 80px
  .login-form
    input
      width 78%
      box-sizing border-box
      display block
      margin 30px auto
      height 35px
      padding-left 30px
      border-radius 5px
      border 1px solid #ccc
      outline none
    .input1
      background url("../../../../images/icon_input.png") no-repeat 0 3px
    .input2
      background url("../../../../images/icon_input.png") no-repeat 0 -27px
    &:focus
      border 1px solid #63B8FF
  a
    text-decoration none
    text-align right
    color #888
  .forgetPassLink:link
    float: right
    margin-right 12%
  .registerLink:link
    float left
    margin-left 12%
  .login-button
    display block
    width 78%
    margin 20px auto
    height 40px
    line-height 40px
    border-radius 5px
    background-color #26a4de
    border solid 1px #fff
    font-size 18px
    color #fff
    box-sizing border-box
    outline none
    &:hover
      opacity 0.85
